sudo: required
language: java
node_js:
  - "6"
services:
- docker
cache:
  directories:
  - "$HOME/.cache"

deploy:
  provider: script
  script: "cp .travis.settings.xml $HOME/.m2/settings.xml && mvn deploy"
  skip_cleanup: true
  on:
    tags: true
deploy:
  provider: releases
  api_key: ${GITHUB_DEPLOY_TOKEN}
  file_glob: true
  file: testfile.txt
  skip_cleanup: true
  on:
    tags: true
dist: trusty
addons:
  chrome: stable
  sauce_connect:
    username: "mbaitz"
    access_key: "8ebbdbb7-1c26-4ab6-8440-f5449f8d82f5"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - rackup  # start a Web server
  - sleep 3 # give Web server some time to bind to sockets, etc
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

